<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=640,user-scalable=no">
    <title></title>
    <link href="../css/animate.min.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
	<div class="header fixed oevrflow text_center">
		<a href="" class='back left'><img src="../img/back.png" alt=""></a>
		<a href="../index.html" class='back right'><img src="../img/house.png" alt=""></a>
		<div class="absolute full text-header-wrap">
			<p class='inline_block'>改变新未来改变新未来改变新未来改变新未来</p>
		</div>
	</div>
	

	<div class="content-wrap">
		<div class="article-container">
			<!-- 图文内容显示区域 -->
			<img src="../img/bac1.jpg" alt="">
			<p>
				配置文件提供一个入口和一个出口，webpack根据这个来进行js的打包和编译工作。虽然webpack提供了webpack --watch的命令来动态监听文件的改变并实时打包，输出新bundle.js文件，这样文件多了之后打包速度会很慢，此外这样的打包的方式不能做到hot replace，即每次webpack编译之后，你还需要手动刷新浏览器。
			</p>
			<!-- end -->
		</div>
	</div>
<script>

</script>
</body>
</html>