<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=640,user-scalable=no">
    <title></title>
    <link href="../css/animate.min.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="../css/base2.css" rel="stylesheet"/>
</head>
<body>
	<div class="header fixed oevrflow text_center">
		<a href="" class='back left'><img src="../img/back.png" alt=""></a>
		<a href="../index.html" class='back right'><img src="../img/house.png" alt=""></a>
		<div class="absolute full text-header-wrap">
			<!-- <p class='inline_block'>改变新未来<br><span class="english">change new futrue</span></p> -->
		</div>
	</div>
	

	<div class="content-wrap">
		<ul class="temp-list step3-temp-list" style='padding-bottom:90px'>
			<li class="relative border-box left left-li animated fadeInRight" style='float:left'>
				<a href="article.html" class="block full vertical-cell text_right">
					<div class="inline_block vertical_middle"><p>FitHome智慧家庭解决方案</p><p class="english color-33">FitHome--A Smart Home Solution</p></div>
				</a>
				<!-- 菱形 -->
				<div class="absolute box-wrap">
					<!-- <div class="box-extra box-extra-large  inline_block"></div> -->
					<div class="inline_block box-pic relative overflow">
						<div class="box-pic-inner" style="background:url(../img/i31.jpg)"></div>
					</div>	
					<div class="box-extra box-extra-small  absolute"></div>
				</div>
			</li>

			<li class="relative border-box right right-li animated fadeInLeft" style='height: 6rem;'>
				<a href="article.html" class="block full vertical-cell">
					<div class="inline_block vertical_middle"><p>可运营的安全公共无线接入方案</p><p class="english color-33">Secure & Operable Public Wireless <br>  Access Solution</p></div>
				</a>
				<!-- 菱形 -->
				<div class="absolute box-wrap" style='top:-0.5rem'>
					<!-- <div class="box-extra box-extra-large  inline_block"></div> -->
					<div class="inline_block box-pic relative overflow">
						<div class="box-pic-inner" style="background:url(../img/i32.jpg)"></div>
					</div>	
					<div class="box-extra box-extra-small  absolute"></div>
				</div>
			</li>

			<li class="relative border-box left left-li animated fadeInRight" style='float:left' >
				<a href="article.html" class="block full vertical-cell text_right">
					<div class="inline_block vertical_middle"><p>智慧酒店接入解决方案</p><p class="english color-33">Smart Hotel Access Solution</p></div>
				</a>
				<!-- 菱形 -->
				<div class="absolute box-wrap">
					<div class="inline_block box-pic relative overflow">
						<div class="box-pic-inner" style="background:url(../img/i33.jpg)"></div>
					</div>	
				</div>
			</li>

			<li class="relative border-box right right-li animated fadeInLeft" >
				<a href="article.html" class="block full vertical-cell">
					<div class="inline_block vertical_middle"><p>技术演进</p><p class="english color-33">Technology Evolution</p></div>
				</a>
				<!-- 菱形 -->
				<div class="absolute box-wrap">
					<div class="box-extra box-extra-small  absolute"  style='top:0;right:7.5rem;background-color:#2197F5'></div>
					<div class="inline_block box-pic relative overflow">
						<div class="box-pic-inner" style="background:url(../img/i34.jpg)"></div>
					</div>	
				</div>
			</li>

			<li class="relative border-box left left-li animated fadeInRight" style='float:left'>
				<a href="article.html" class="block full vertical-cell text_right">
					<div class="inline_block vertical_middle"><p>规模制造和品控 </p><p class="english color-33">Mass Manufacture and Quality Control</p></div>
				</a>
				<!-- 菱形 -->
				<div class="absolute box-wrap">
					<div class="box-extra box-extra-middle  absolute"  style='bottom:0;left:-4rem;'></div>
					<div class="inline_block box-pic relative overflow">
						<div class="box-pic-inner" style="background:url(../img/i35.jpg)"></div>
					</div>	
				</div>
			</li>
			

			<div style='clear:both'></div>
		</ul>
	</div>
	<script type="text/javascript" src="../js/lib/jquery-2.1.4.js"></script>
	<script>

	</script>
</body>
</html>