<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=640,user-scalable=no">
    <title></title>
    <link href="../css/animate.min.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="../css/base2.css" rel="stylesheet"/>
    <style type="text/css">
		html,body,.content-wrap{height: 100%;}
    </style>
</head>
<body>
	<div class="header fixed oevrflow text_center">
		<a href="" class='back left'><img src="../img/back.png" alt=""></a>
		<a href="../index.html" class='back right'><img src="../img/house.png" alt=""></a>
		<div class="absolute full text-header-wrap">
			<!-- <p class='inline_block'>改变新未来<br><span class="english">change new futrue</span></p> -->
		</div>
	</div>
	

	<div class="content-wrap box box-vertical">
		<ul class="temp-list">
			<li class="relative border-box animated fadeInDown" >
				<a href="article.html" class="block  full vertical-cell">
					<div class="inline_block vertical_middle"><p>业务布局</p><p class="english color-33">Business Layout</p></div>
				</a>
				<!-- 菱形 -->
				<div class="absolute box-wrap ">
					<div class="box-extra box-extra-large  inline_block"></div>
					<div class="inline_block box-pic relative overflow">
						<div class="box-pic-inner" style="background:url(../img/i11.jpg)"></div>
					</div>	
					<div class="box-extra box-extra-small  absolute"></div>
				</div>
			</li>
			<li class="relative border-box animated fadeInUp" >
				<a href="timeline.html" class="block  full vertical-cell">
					<div class="inline_block vertical_middle"><p>改变新未来</p><p class="english color-33">Change The Future</p></div>
				</a>
				<!-- 菱形 -->
				<div class="absolute box-wrap">
					<div class="box-extra box-extra-middle  inline_block relative move"></div>
					<div class="inline_block box-pic relative overflow">
						<div class="box-pic-inner" style="background:url(../img/i12.jpg)"></div>
					</div>	
				</div>
			</li>
		</ul>
	</div>
	<script type="text/javascript" src="../js/lib/jquery-2.1.4.js"></script>
	<script>

	</script>
</body>
</html>